* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .left {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .left img {
  width: 80%;
}
header .left ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  align-items: center;
  padding-top: 20px;
}
header .left ul a {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 15.42px;
  text-align: center;
  color: white;
  white-space: nowrap;
  text-decoration-line: none;
}
header .left ul li:hover a {
  color: rgb(197, 89, 39);
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
  transition: 0.2s;
}
header .right {
  display: flex;
  gap: 20px;
}
header .right button {
  all: unset;
  border: 0;
}
header .right button img {
  width: 90%;
}

.sec_one {
  background-image: url("/BG.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}
.sec_one .box {
  margin: 0 auto;
  width: 80%;
  padding-top: 200px;
  display: flex;
  gap: 10%;
  margin-bottom: 10%;
  /* 

  .bg_image{

  } */
}
.sec_one .box .second {
  margin-top: -50px;
}
.sec_one .box h1 {
  font-family: "Oswald", sans-serif;
  font-size: 110px;
  font-weight: 100;
  line-height: 74.9px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 60px;
}
.sec_one .box hr {
  width: 42%;
  border: 1px solid;
  color: white;
  margin-bottom: 50px;
}
.sec_one .box h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 48.2px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.sec_one .box .item {
  display: flex;
  gap: 100px;
  margin-bottom: 40px;
}
.sec_one .box .item p {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 28.92px;
  text-align: left;
  color: #FFFFFF;
}
.sec_one .box .item span {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 28.92px;
  text-align: left;
  color: #FFFFFF;
}
.sec_one .box button {
  all: unset;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 17.35px;
  text-align: center;
  padding: 16px 120px;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  margin-bottom: 60px;
}
.sec_one .box .color {
  display: flex;
  gap: 12px;
}
.sec_one .box .color div {
  height: 14px;
  width: 14px;
}
.sec_one .box .color #one {
  background: linear-gradient(92.09deg, #5E3928 -79.4%, #E4A16F 84.12%);
}
.sec_one .box .color #two {
  background: rgb(255, 255, 255);
}
.sec_one .box .color #three {
  background: rgb(255, 255, 255);
}
.sec_one .box .left_ar {
  position: absolute;
  top: 40%;
  left: 0%;
}
.sec_one .box .right_ar {
  position: absolute;
  top: 40%;
  right: 0%;
  transform: rotate(180deg);
}
.sec_one .box_sec {
  margin: 0 auto;
}
.sec_one .box_sec h1 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 37.45px;
  text-align: center;
  margin-bottom: 80px;
}
.sec_one .box_sec .sec_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
  padding-top: 0px;
  width: 80%;
  margin: 0 auto;
}
.sec_one .box_sec .sec_box .product {
  width: 32%;
  position: relative;
  margin-bottom: 2%;
}
.sec_one .box_sec .sec_box .product img {
  width: 100%;
}
.sec_one .box_sec .sec_box .product span {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28.92px;
  text-align: center;
  color: rgb(255, 255, 255);
  position: absolute;
  white-space: nowrap;
  bottom: 20px;
  left: 20%;
}/*# sourceMappingURL=index.css.map */